.footer {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: rgb(31, 31, 31);
    color: white;
}

.escritaCentro {
    color: #FFD100;
    display: flex;
    justify-content: center;
    margin-bottom: -20px;
    font-size: 14px;
    font-weight: 600;
}

.escritaPrincipal {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: -10px;
    font-size: 40px;
    font-weight: bold;
    max-width: 700px;
}

.descricao {
    color: white;
    font-size: 16px;
    max-width: 650px;
    text-align: center;
    margin: 15px 0 30px 0;
    line-height: 1.6;
}

.container-btn {
    display: flex;
    justify-content: center;
}

.btn-compra {
    background-color: #FFD100;
    border: 2px solid #FFD100;
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.3s ease;
}

.btn-compra:hover {
    background-color: #FFD100;
    border: 2px solid #FFD100;
    transform: translateY(-3px);
}

.footer-rodape {
    background: rgb(31, 31, 31);
    color: #cfcfcf;
    margin-top: 30px;
}

.footer-baixo {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 60px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.footer-desc {
    max-width: 350px;
}

.footer-desc h3 {
    color: white;
    font-size: 28px;
    margin-bottom: 10px;
}

.footer-desc span {
    color: #FFD100;
}

.footer-links h4,
.footer-contato h4 {
    color: #FFD100;
    margin-bottom: 10px;
}

.footer-links {
    display: flex;
    flex-direction: column;
}

.footer-links a {
    text-decoration: none;
    color: #cfcfcf;
    margin-bottom: 6px;
}

.footer-links a:hover {
    color: #FFD100;
}

.footer-contato {
    display: flex;
    flex-direction: column;
}

.footer-contato a {
    text-decoration: none;
    color: #cfcfcf;
    margin-bottom: 6px;
}

.footer-contato a:hover {
    color: #FFD100;
}

.footer-copy {
    border-top: 2px solid #323232;
    text-align: center;
    font-size: 14px;
    color: #8a8a8a;
}

.footer-container {
    max-width: 1100px;
    margin: 0 auto;
    width: 100%;
}

.footer-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
}

.ico {
    transform: translateY(7px);
}

.developed {
    margin-bottom: 00px;
}

.linkSocial {
    text-decoration: none;
    color: #8a8a8a;
    transition: all 0.2s ease;
}

.linkSocial:hover {
    color: #FFD100;
    font-size: 15px;
}